.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;

}


.btn{
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer; 
}
